<div class="container" style="margin-top:30px">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" >
    Add Assignment
  </button>
  <table class="table" *ngIf="assignments" style="margin-top:20px">
    <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Project ID</th>
      <th>Project Name</th>
      <th>Employee ID</th>
      <th>Employee Name</th>
      <th>Tasks</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let a of assignments">
      <td>{{a.id}}</td>
      <td>{{a.date|date:'mediumDate'}}</td>
      <td>{{a.project.id}}</td>
      <td>{{a.project.name}}</td>
      <td>{{a.employee.id}}</td>
      <td>{{a.employee.firstName}} {{a.employee.lastName}}</td>
      <td>
        <button class="btn btn-success" (click)="getTasks(a)" >Tasks</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Assignment</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="AssignmentForm">
          <div class="mb-3 mt-3">
            <label for="idEmployee">Employee ID</label>
            <input type="text" class="form-control" id="idEmployee" placeholder="Enter employee id" [(ngModel)]="assignment.employeeId" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="mb-3 mt-3">
            <label for="idEmployee">Project ID</label>
            <input type="text" class="form-control" id="idProject" placeholder="Enter project id" [(ngModel)]="assignment.projectId" [ngModelOptions]="{standalone: true}">
          </div>

        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Add</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
